/* 

Using BEM naming convension
https://www.freecodecamp.org/news/css-naming-conventions-that-will-save-you-hours-of-debugging-35cea737d849/

.block

.name-surname

.block__child

.child--variant
*/

:root {
  --c-grey-100: #080808;
  --c-grey-200: #222;
  --c-grey-300: #444;
  --c-grey-400: #646464;
  --c-grey-500: #aaa;
  --c-grey-600: #ddd;
  --c-grey-700: #fafafa;
  --c-grey-800: #fefefe;
  --c-grey-900: #fff;

  --f-main: "Open Sans", sans-serif;
  --f-fun: "Rampart One", cursive;

  --shadow-soft: 0.3rem 0 20px rgba(2, 2, 2, 0.2);
  --shadow-hard: 0.2rem 0.2rem 0 var(--c-grey-100);
}

html,
body {
  min-height: 100%;
  all: unset;
}

body {
  font-size: 16px;
  font-family: var(--f-main);
  color: var(--c-grey-100);
  background-color: var(--c-grey-800);
}

* {
  box-sizing: border-box;
}

.page-wrapper {
  padding: 2rem;
}

header {
  margin-bottom: 3rem;
}

.main-title {
  font-family: var(--f-fun);
  font-size: 4rem;
  margin: 0;
  text-align: center;
}

.layout-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 1rem 0;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 1100px) {
  .layout-grid {
    grid-template-columns: 1fr;
  }
}

.layout-grid > :first-child {
  transform: rotateZ(0.6deg);
}

.layout-grid > :last-child {
  transform: rotateZ(-0.3deg);
}

.layout-grid > * {
  /* TODO: Reactivate */
  transition: transform 100ms ease;
}

.layout-grid > *:hover {
  /* TODO: Re-apply */
  transform: rotateZ(0deg);
}

.layout-grid__box {
  position: relative;

  padding: 0.4rem;

  background-color: var(--c-grey-900);
  border: 0.3rem solid var(--c-grey-100);

  box-shadow: var(--shadow-hard);
}

.box-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 0.4rem;
}

.box-header__circle {
  width: 10px;
  height: 10px;

  border-radius: 10px;
  border: 2px solid var(--c-grey-100);

  flex-shrink: 0;
}

.box-header__label {
  color: var(--c-grey-300);
  margin: 0;

  text-transform: uppercase;
  font-size: 0.6rem;
  letter-spacing: 0.2em;

  text-align: center;
}

canvas {
  /* TODO: Improve resizing? */
  border: 1px solid black;
  width: 100%;
}

hr {
  border: none;
  margin: 3rem -2rem;
  height: 2px;
  background-color: var(--c-grey-100);
}

button {
  font-size: 1.2rem;
  border: 4px solid var(--c-grey-100);
  border-radius: 0;
  padding: 0.5rem 1rem;
  background-color: transparent;
  font-family: Courier, monospace;
  box-shadow: var(--shadow-hard);
  transform: rotateZ(0.8deg);
  transition: transform 100ms ease, box-shadow 100ms ease;

  display: block;
  margin: 0 auto;
}

button:hover {
  transform: none;
}

button:active {
  box-shadow: none;
  transform: translateX(0.3rem) translateY(0.3rem);
}

footer {
  margin-top: 15rem;
}

p {
  margin-bottom: 2rem;
}

.container {
  max-width: 80ch;
  margin: 0 auto;
}

.container.sm {
  max-width: 50ch;
}
